In [ ]:
pip install mysql-connector-python

In [ ]:
import pandas as pd
import numpy as np
import importlib.metadata
import mysql.connector

from datetime import datetime

In [ ]:
# cargar el csv de prueba
df_coches = pd.read_csv("../bin/coche_prueba.csv")
df_prueba = pd.read_csv("../bin/prueba.csv")
df_prueba

In [ ]:
# Funcion para insertar coches en la base de datos
def insertar_coche(df, nombre_tabla):
    # Conexi√≥n a la base df_cochedatos de MySQL
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Whereisbotus1996",
        database="coches_segunda_mano"
    )

    # Obtener las columnas del DataFrame
    columnas = df.columns.tolist()
    # Convertir cada fila del DataFrame a una tupla
    valores = [tuple(row) for row in df.to_numpy()]

    # Crear un cursor para ejecutar comandos SQL
    cursor = conn.cursor()

    # Crear la consulta SQL para insertar datos
    query = f"""
        INSERT INTO {nombre_tabla} ({', '.join(columnas)})
        VALUES ({', '.join(['%s'] * len(columnas))})
    """

    # Ejecutar la consulta para todas las filas
    cursor.executemany(query, valores)

    # Confirmar los cambios en la base de datos
    conn.commit()

    # Cerrar el cursor y la conexion
    cursor.close()
    conn.close()

    # Mensaje de exito
    print("Datos insertados correctamente")

# Llamar a la funcion para insertar los datos en la tabla
insertar_coche(df_prueba, 'marcas')