In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

import folium
from folium import Choropleth

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import KNNImputer

from sklearn.ensemble import RandomForestRegressor

In [2]:
pd.set_option('display.max_columns', None)
df = pd.read_csv('../bin/data_preprocess.csv')

In [3]:
stats = []
for col in df.columns:
    stats.append((col, df[col].nunique(), df[col].isnull().sum() * 100 / df.shape[0], df[col].value_counts(normalize=True, dropna=False).values[0] * 100, df[col].dtype))
    stats_df = pd.DataFrame(stats, columns=['Columna', 'Valores Ãºnicos', '% nulos', '% of values in the biggest category', 'tipo'])
stats_df.sort_values('% nulos', ascending=False)

,Columna,Valores Ãºnicos,% nulos,% of values in the biggest category,tipo
31,co2,234,57.653690,57.653690,float64
16,consumo_carretera,91,53.922259,53.922259,float64
17,consumo_urbano,166,53.913452,53.913452,float64
15,consumo_medio,131,48.951911,48.951911,float64
33,id_sobrealimentacion,5,43.003934,43.003934,object
18,deposito,86,35.535201,35.535201,float64
32,num_cilindros,8,35.232811,35.232811,float64
20,cilindrada,233,34.225823,34.225823,float64
27,velocidad_max,156,30.159709,30.159709,float64
10,capacidad_maletero,393,30.001174,30.001174,float64
28,aceleracion,142,29.998239,29.998239,float64
26,par,230,29.930715,29.930715,float64
9,alto,428,29.572544,29.572544,float64
7,largo,718,29.549058,29.549058,float64
12,batalla,345,29.546122,29.546122,float64
8,ancho,300,29.505020,29.505020,float64
22,id_traccion,4,29.493277,55.736598,object
11,num_plazas,6,29.493277,67.060067,float64
24,potencia_kw,248,29.408138,29.408138,float64
6,precio_nuevo,3131,28.594915,28.594915,float64
23,num_marchas,9,26.243321,28.900241,float64
13,peso,671,24.194117,24.194117,float64
5,precio_contado,1707,6.262110,6.482297,float64
3,id_distintivo_ambiental,4,2.427926,63.918736,object
4,garantia,55,2.060948,65.791791,float64
19,combustible,6,1.006987,47.974282,object
14,num_puertas,4,0.989372,92.375668,float64
25,potencia_cv,293,0.974693,13.199460,float64
35,id_modelo,476,0.223123,7.562680,object
1,kilometraje,5560,0.184957,6.391286,float64
34,id_marca,51,0.114497,19.223768,object
0,id_provincia,49,0.020551,46.829311,object
29,mes_matriculacion,12,0.000000,15.181140,int64
30,ano_matriculacion,31,0.000000,25.779461,int64
21,tipo_cambio,2,0.000000,52.756738,object
2,id_concesionario,714,0.000000,13.316893,object

In [4]:
df.sample(10)

,id_provincia,kilometraje,id_concesionario,id_distintivo_ambiental,garantia,precio_contado,precio_nuevo,largo,ancho,alto,capacidad_maletero,num_plazas,batalla,peso,num_puertas,consumo_medio,consumo_carretera,consumo_urbano,deposito,combustible,cilindrada,tipo_cambio,id_traccion,num_marchas,potencia_kw,potencia_cv,par,velocidad_max,aceleracion,mes_matriculacion,ano_matriculacion,co2,num_cilindros,id_sobrealimentacion,id_marca,id_modelo
5332,MÃ¡laga,31387.0,VALENZA MÃLAGA,C,12.0,62900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,Gasolina,2000.0,AutomÃ¡tico,NaN,NaN,NaN,245.0,NaN,NaN,NaN,5,2020,NaN,NaN,NaN,PORSCHE,MACAN
534,Barcelona,260000.0,AUTOMOVILES REQUENA,ECO,NaN,17850.0,51249.0,4630.0,1845.0,1645.0,555.0,5.0,2660.0,2245.0,5.0,5.6,3.9,7.2,56.0,HÃ­brido Enchufable,2494.0,AutomÃ¡tico,total permanente,1.0,145.0,197.0,210.0,NaN,9.3,3,2016,121.0,4.0,NaN,LEXUS,NX
11553,Murcia,7100.0,MARMOCASION STORE,C,48.0,21390.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,Gasolina,NaN,Manual,NaN,NaN,NaN,120.0,NaN,NaN,NaN,3,2024,NaN,NaN,NaN,HYUNDAI,I30
13839,Barcelona,14824.0,M OcasiÃ³n Barcelona,C,12.0,20100.0,24790.0,4205.0,1800.0,1565.0,374.0,5.0,2600.0,1770.0,5.0,NaN,NaN,NaN,50.0,Gasolina,NaN,Manual,delantera,6.0,88.0,120.0,172.0,181.0,11.5,5,2023,116.0,3.0,Turbo,HYUNDAI,KONA
9339,Badajoz,32825.0,"MAVEN E HIJOS, concesionario oficial Ford",C,12.0,24900.0,41888.0,4614.0,1883.0,1678.0,456.0,5.0,2710.0,2075.0,5.0,5.5,4.9,6.5,60.0,Gasolina,1498.0,Manual,delantera,6.0,110.0,150.0,240.0,195.0,9.7,7,2020,129.0,3.0,Turbo,FORD,KUGA
5129,Islas Baleares,32195.0,STELLANTIS & YOU PALMA,C,24.0,18195.0,25725.0,4360.0,1834.0,1520.0,380.0,5.0,2670.0,1735.0,5.0,4.6,3.2,5.9,60.0,Gasolina,1199.0,Manual,delantera,6.0,96.0,130.0,230.0,210.0,10.8,5,2023,108.0,3.0,NaN,CITROEN,C4
19296,Barcelona,3900.0,DRIVER CARS BCN,C,36.0,48900.0,48757.0,4500.0,1845.0,1642.0,540.0,5.0,2692.0,2150.0,5.0,NaN,NaN,NaN,45.0,Diesel,1995.0,AutomÃ¡tico,delantera,7.0,110.0,150.0,360.0,210.0,8.9,7,2024,NaN,4.0,Turbo de geometrÃ­a variable,BMW,X1
14630,Madrid,62750.0,GRUPO AMARAUTO,C,12.0,21490.0,36150.0,4500.0,1969.0,1654.0,580.0,5.0,2730.0,1960.0,5.0,5.1,4.9,7.0,53.0,Gasolina,1199.0,AutomÃ¡tico,delantera,8.0,96.0,130.0,230.0,188.0,10.3,3,2021,116.0,3.0,Turbo,CITROEN,C5 AIRCROSS
1485,Alicante,57600.0,FLEXICAR ALICANTE,C,12.0,22490.0,39150.0,4394.0,1874.0,1624.0,438.0,5.0,2636.0,2080.0,5.0,NaN,NaN,NaN,55.0,Diesel,1598.0,Manual,delantera,6.0,96.0,130.0,320.0,187.0,11.2,6,2021,NaN,4.0,Turbo,JEEP,COMPASS
26447,Barcelona,87784.0,AUTOHERO BARCELONA,C,12.0,11899.0,27765.0,4360.0,1834.0,1520.0,380.0,5.0,2670.0,1735.0,5.0,4.6,3.2,5.9,60.0,Gasolina,1199.0,Manual,delantera,6.0,96.0,130.0,230.0,210.0,10.8,7,2017,104.0,3.0,NaN,CITROEN,C4

In [5]:
listado_provincias = {}
for index,detalle in enumerate (df['id_provincia'].unique(), start = 1):
    listado_provincias[index] = detalle

df_provincias = pd.DataFrame.from_dict(listado_provincias, orient='index', columns=['nombre_provincia']).reset_index()
df_provincias.rename(columns={'index': 'id_provincia'}, inplace=True)
df_provincias.to_csv('../bin/listado_provincias.csv', index=False)

conversion_provincias = {v: k for k, v in listado_provincias.items()}
df['id_provincia'] = df['id_provincia'].map(conversion_provincias)

In [6]:
listado_concesionarios = {}
for index,detalle in enumerate (df['id_concesionario'].unique(), start = 1):
    listado_concesionarios[index] = detalle

df_concesionarios = pd.DataFrame.from_dict(listado_concesionarios, orient='index', columns=['nombre_concesionario']).reset_index()
df_concesionarios.rename(columns={'index': 'id_concesionario'}, inplace=True)
df_concesionarios.to_csv('../bin/listado_concesionarios.csv', index=False)

conversion = {v: k for k, v in listado_concesionarios.items()}
df['id_concesionario'] = df['id_concesionario'].map(conversion)

In [7]:
listado_modelos = {}
for index,detalle in enumerate (df['id_modelo'].unique(), start = 1):
    listado_modelos[index] = detalle

df_modelos = pd.DataFrame.from_dict(listado_modelos, orient='index', columns=['nombre_modelo']).reset_index()
df_modelos.rename(columns={'index': 'id_modelo'}, inplace=True)
df_modelos.to_csv('../bin/listado_modelos.csv', index=False)

conversion = {v: k for k, v in listado_modelos.items()}
df['id_modelo'] = df['id_modelo'].map(conversion)

In [8]:
marca_df = pd.read_csv('../bin/listado_marcas.csv')

marca_df['nombre_marca'] = marca_df['nombre_marca'].str.upper()
listado_marcas = marca_df.set_index('id_marca')['nombre_marca'].to_dict()

conversion = {v: k for k, v in listado_marcas.items()}
df['id_marca'] = df['id_marca'].map(conversion)

In [9]:
listado_distintivo_ambiental = {}
for index,detalle in enumerate (df['id_distintivo_ambiental'].unique(), start = 1):
    listado_distintivo_ambiental[index] = detalle
    
df_distintivo_ambiental = pd.DataFrame.from_dict(listado_distintivo_ambiental, orient='index', columns=['nombre_distintivo']).reset_index()
df_distintivo_ambiental.rename(columns={'index': 'id_distintivo'}, inplace=True)
df_distintivo_ambiental.to_csv('../bin/listado_distintivo_ambiental.csv', index=False)

conversion = {v: k for k, v in listado_distintivo_ambiental.items()}
df['id_distintivo_ambiental'] = df['id_distintivo_ambiental'].map(conversion)

In [10]:
listado_combustibles = {}
for index,detalle in enumerate (df['combustible'].unique(), start = 1):
    listado_combustibles[index] = detalle
    
df_combustibles = pd.DataFrame.from_dict(listado_combustibles, orient='index', columns=['nombre_combustible']).reset_index()
df_combustibles.rename(columns={'index': 'id_combustible'}, inplace=True)
df_combustibles.to_csv('../bin/listado_combustibles.csv', index=False)

conversion = {v: k for k, v in listado_combustibles.items()}
df['id_combustible'] = df['combustible'].map(conversion)

df = df.drop(columns=['combustible'])

In [11]:
listado_tipos_cambio = {}
for index,detalle in enumerate (df['tipo_cambio'].unique(), start = 1):
    listado_tipos_cambio[index] = detalle
    
df_tipos_cambio = pd.DataFrame.from_dict(listado_tipos_cambio, orient='index', columns=['nombre_tipo_cambio']).reset_index()
df_tipos_cambio.rename(columns={'index': 'id_tipo_cambio'}, inplace=True)
df_tipos_cambio.to_csv('../bin/listado_tipos_cambio.csv', index=False)

tipos_cambio_to_indices = {v: k for k, v in listado_tipos_cambio.items()}
df['id_tipo_cambio'] = df['tipo_cambio'].map(tipos_cambio_to_indices)

df = df.drop(columns=['tipo_cambio'])

In [12]:
listado_sobrealimentacion = {}
for index,detalle in enumerate (df['id_sobrealimentacion'].unique(), start = 1):
    listado_sobrealimentacion[index] = detalle
    
df_sobrealimentacion = pd.DataFrame.from_dict(listado_sobrealimentacion, orient='index', columns=['nombre_sobrealimentacion']).reset_index()
df_sobrealimentacion.rename(columns={'index': 'id_sobrealimentacion'}, inplace=True)
df_sobrealimentacion.to_csv('../bin/listado_sobrealimentacion.csv', index=False)

conversion = {v: k for k, v in listado_sobrealimentacion.items()}
df['id_sobrealimentacion'] = df['id_sobrealimentacion'].map(conversion)

In [13]:
listado_traccion = {}
for index,detalle in enumerate (df['id_traccion'].unique(), start = 1):
    listado_traccion[index] = detalle
    
df_traccion = pd.DataFrame.from_dict(listado_traccion, orient='index', columns=['nombre_traccion']).reset_index()
df_traccion.rename(columns={'index': 'id_traccion'}, inplace=True)
df_traccion.to_csv('../bin/listado_traccion.csv', index=False)

conversion = {v: k for k, v in listado_traccion.items()}
df['id_traccion'] = df['id_traccion'].map(conversion)

In [14]:
for columna in df.columns:
    df[columna] = df[columna].replace([np.nan, pd.NA], None)

In [15]:
def convertir_a_entero(valor):
    try:
        if pd.isnull(valor):
            return None
        else:
            return int(valor)
    except:
        return None

In [16]:
df["id_marca"] = df["id_marca"].apply(convertir_a_entero).astype('Int64')
df["id_modelo"] = df["id_modelo"].apply(convertir_a_entero).astype('Int64')
df["mes_matriculacion"] = df["mes_matriculacion"].apply(convertir_a_entero).astype('Int64')
df["ano_matriculacion"] = df["ano_matriculacion"].apply(convertir_a_entero).astype('Int64')
df["id_distintivo_ambiental"] = df["id_distintivo_ambiental"].apply(convertir_a_entero).astype('Int64')
df["garantia"] = df["garantia"].apply(convertir_a_entero).astype('Int64')
df["id_concesionario"] = df["id_concesionario"].apply(convertir_a_entero).astype('Int64')
df["id_provincia"] = df["id_provincia"].apply(convertir_a_entero).astype('Int64')
df["id_traccion"] = df["id_traccion"].apply(convertir_a_entero).astype('Int64')
df["largo"] = df["largo"].apply(convertir_a_entero).astype('Int64')
df["ancho"] = df["ancho"].apply(convertir_a_entero).astype('Int64')
df["alto"] = df["alto"].apply(convertir_a_entero).astype('Int64')
df["capacidad_maletero"] = df["capacidad_maletero"].apply(convertir_a_entero).astype('Int64')
df["num_puertas"] = df["num_puertas"].apply(convertir_a_entero).astype('Int64')
df["num_plazas"] = df["num_plazas"].apply(convertir_a_entero).astype('Int64')
df["batalla"] = df["batalla"].apply(convertir_a_entero).astype('Int64')
df["peso"] = df["peso"].apply(convertir_a_entero).astype('Int64')
df["id_combustible"] = df["id_combustible"].apply(convertir_a_entero).astype('Int64')
df["num_cilindros"] = df["num_cilindros"].apply(convertir_a_entero).astype('Int64')
df["cilindrada"] = df["cilindrada"].apply(convertir_a_entero).astype('Int64')
df["id_sobrealimentacion"] = df["id_sobrealimentacion"].apply(convertir_a_entero).astype('Int64')
df["id_tipo_cambio"] = df["id_tipo_cambio"].apply(convertir_a_entero).astype('Int64')
df["num_marchas"] = df["num_marchas"].apply(convertir_a_entero).astype('Int64')
df["potencia_kw"] = df["potencia_kw"].apply(convertir_a_entero).astype('Int64')
df["potencia_cv"] = df["potencia_cv"].apply(convertir_a_entero).astype('Int64')
df["par"] = df["par"].apply(convertir_a_entero).astype('Int64')
df["velocidad_max"] = df["velocidad_max"].apply(convertir_a_entero).astype('Int64')
df["kilometraje"] = df["kilometraje"].apply(convertir_a_entero).astype('Int64')

In [17]:
for columna in df.columns:
    df[columna] = df[columna].replace([np.nan, pd.NA], None)

In [18]:
df.head()

,id_provincia,kilometraje,id_concesionario,id_distintivo_ambiental,garantia,precio_contado,precio_nuevo,largo,ancho,alto,capacidad_maletero,num_plazas,batalla,peso,num_puertas,consumo_medio,consumo_carretera,consumo_urbano,deposito,cilindrada,id_traccion,num_marchas,potencia_kw,potencia_cv,par,velocidad_max,aceleracion,mes_matriculacion,ano_matriculacion,co2,num_cilindros,id_sobrealimentacion,id_marca,id_modelo,id_combustible,id_tipo_cambio
0,1,58000,1,1,12,19990.0,37250.0,4633,1811,1429,480,5,2810,2045,4,4.5,4.0,5.3,57.0,1995,1,6,110,150,320,215,8.7,11,2018,118.0,4,1,8,1,1,1
1,1,34680,1,2,12,12990.0,19300.0,3571,1627,1488,185,4,2300,1055,3,None,None,None,35.0,None,2,6,52,70,92,167,13.8,12,2021,None,3,2,19,2,2,1
2,1,66933,2,1,12,17390.0,26650.0,4377,1806,1590,430,5,2646,1910,5,3.8,3.6,4.2,55.0,1461,2,6,81,110,260,182,11.9,4,2017,103.0,4,2,50,3,1,1
3,2,159000,3,1,12,8000.0,22425.0,4702,1809,1499,540,5,2662,1985,5,3.6,3.3,4.2,48.0,1598,2,6,81,110,300,195,11.4,1,2017,99.0,4,2,52,4,1,1
4,1,62695,4,3,12,22990.0,44700.0,4545,1805,1685,404,5,2670,2425,5,None,None,None,43.0,2360,3,1,138,188,193,162,10.9,7,2022,None,4,2,48,5,3,2

In [19]:
df.to_csv('../bin/prestaciones.csv', index=False)

In [20]:
df["kilometraje"].dtype

dtype('O')