In [5]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\cmv28\anaconda3\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [41]:
import pandas as pd
import numpy as np
import importlib.metadata
import mysql.connector

from datetime import datetime

In [43]:
# cargar el csv de prueba
df_coches = pd.read_csv("../bin/coche_prueba.csv")
df_coches

,id_marca,id_modelo,mes_matriculacion,ano_matriculacion,kilometraje,id_distintivo_ambiental,garantia,precio_nuevo,precio_contado,id_concesionario,...,num_cilindros,cilindrada,id_sobrealimentacion,id_tipo_cambio,num_marchas,potencia_kw,potencia_cv,par,velocidad_max,aceleracion
0,1,1,6,2018,50000,1,24,30000.0,27000.0,1,...,4,2000,1,1,6,120,160,200,220,8.5

In [45]:
#Funcion para insertar un coche en la bbdd
def insertar_coche(df_coches):

    #Conexion a la base de datos de MySQL
    conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Whereisbotus1996",
    database = "coches_segunda_mano"
    )

    columnas_prestaciones = [
        "id_marca", "id_modelo", "mes_matriculacion", "ano_matriculacion", "kilometraje", 
        "id_distintivo_ambiental", "garantia", "precio_nuevo", "precio_contado", "id_concesionario", 
        "id_provincia", "id_carroceria", "largo", "ancho", "alto", "capacidad_maletero", "num_plazas", 
        "num_puertas", "batalla", "peso", "consumo_medio", "consumo_carretera", "consumo_urbano", 
        "co2", "deposito", "id_combustible", "num_cilindros", "cilindrada", "id_sobrealimentacion", 
        "id_tipo_cambio", "num_marchas", "potencia_kw", "potencia_cv", "par", "velocidad_max", 
        "aceleracion", 'fecha_extraccion'
    ]
    cursor = conn.cursor()
    
    for index, row in df_coches.iterrows():
        coche_data = {
            'id_marca': row['id_marca'],
            'id_modelo': row['id_modelo'],
            'mes_matriculacion': row['mes_matriculacion'],
            'ano_matriculacion': row['ano_matriculacion'],
            'kilometraje': row['kilometraje'],
            'id_distintivo_ambiental': row['id_distintivo_ambiental'],
            'garantia': row['garantia'],
            'precio_nuevo': row['precio_nuevo'],
            'precio_contado': row['precio_contado'],
            'id_concesionario': row['id_concesionario'],
            'id_provincia': row['id_provincia'],
            'id_carroceria': row['id_carroceria'],
            'largo': row['largo'],
            'ancho': row['ancho'],
            'alto': row['alto'],
            'capacidad_maletero': row['capacidad_maletero'],
            'num_plazas': row['num_plazas'],
            'num_puertas': row['num_puertas'],
            'batalla': row['batalla'],
            'peso': row['peso'],
            'consumo_medio': row['consumo_medio'],
            'consumo_carretera': row['consumo_carretera'],
            'consumo_urbano': row['consumo_urbano'],
            'co2': row['co2'],
            'deposito': row['deposito'],
            'id_combustible': row['id_combustible'],
            'num_cilindros': row['num_cilindros'],
            'cilindrada': row['cilindrada'],
            'id_sobrealimentacion': row['id_sobrealimentacion'],
            'id_tipo_cambio': row['id_tipo_cambio'],
            'num_marchas': row['num_marchas'],
            'potencia_kw': row['potencia_kw'],
            'potencia_cv': row['potencia_cv'],
            'par': row['par'],
            'velocidad_max': row['velocidad_max'],
            'aceleracion': row['aceleracion'],
            'fecha_extraccion': datetime.now()
        }
        
        valores = tuple(coche_data.values())
            
        query = f"""
            INSERT INTO coches_segunda_mano ({', '.join(columnas_prestaciones)})
            VALUES ({', '.join(['%s'] * len(valores))});
        """
            
        cursor.execute(query, valores)
    
    conn.commit()
    cursor.close()
    conn.close()
    print("Datos insertados correctamente")

In [47]:
#Probamos la funcion
insertar_coche(df_coches)

ProgrammingError: 1146 (42S02): Table 'coches_segunda_mano.coches_segunda_mano' doesn't exist

In [32]:
#Cerrar la conexion al final del proceso
cursor.close()
conn.close()